* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 26px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

section.cat-info {
  padding-left: 15%;
  border: solid 1px grey;
}

div.clickable {
  width: 80%;
}

div img {
 width: 100%;
}
