* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 26px;
}

article#container {
  margin: 30px auto;
  max-width: 700px;
  /* flexbox */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

div.clickable {
  height: 210px;
  width: 100%;
}

div img {
  height: 100%;
 width: 100%;
}

h1.inline {
  display: inline;
}

nav {
  height: 100px;
  width: 100%;
  /* color */
  background-color: rgb(70, 131, 224);
  color: white;
  /* font */
  font-family: Arial;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 100px;
  text-align: center;
}

section.cat-info {
  border: solid 1px grey;
  margin: 8px;
  padding: 8px;
  width: 45%;
}
/* small screens */
@media all and (max-width: 450px) {
  article#container {
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 15px auto;
  }

  div.clickable {
    width: 100%;
  }

  nav {
    font-size: 1.4em;
    letter-spacing: 0;
  }

  section.cat-info {
    width: 90%;
  }
};
